useDynLib(qvivid, .registration = TRUE)

S3method(plot,qv_bloch)
S3method(plot,qv_circuit)
S3method(plot,qv_result)
S3method(print,qv_animation)
S3method(print,qv_bloch)
S3method(print,qv_circuit)
S3method(print,qv_export)
S3method(print,qv_result)

export(animate_bloch)
export(animate_state)
export(bloch_vector)
export(circuit_depth)
export(gate_cx)
export(gate_cz)
export(gate_h)
export(gate_rx)
export(gate_ry)
export(gate_rz)
export(gate_s)
export(gate_swap)
export(gate_t)
export(gate_unitary)
export(gate_x)
export(gate_y)
export(gate_z)
export(measure)
export(measure_all)
export(plot_bloch)
export(plot_circuit)
export(plot_execution)
export(plot_state)
export(quantum_circuit)
export(qv_palette)
export(save_quantum_plot)
export(simulate_quantum)
export(state_data)
export(theme_quantum)
export(trajectory_bloch)
export(trajectory_data)
